.atk-comment {
  padding: 12px 0;
}

.atk-comment .atk-content {
  font-size: 16px;
}

.atk-comment-children>.atk-comment-wrap>.atk-comment>.atk-avatar {
  display: none;
}

.atk-comment-children>.atk-comment-wrap {
  margin: 0 !important;
}

.atk-comment>.atk-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.atk-comment>.atk-main {
  margin-left: 50px;

  .atk-date {
    background: #f3f3f3;
    border: 1px solid #c6c6c6;
    padding: 1px 4px;
    border-radius: 3px;
    position: absolute;
    right: 0;
  }
}

.atk-comment-children>.atk-comment-wrap>.atk-comment>.atk-main {
  // display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 0;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 4px;

  .atk-content {
    font-size: 15px;
  }

  .atk-main {
    padding: 10px 0;
  }

  .atk-header {
    margin: 0;
    margin-bottom: 5px;

    a,
    .atk-nick {
      color: #333 !important;
    }
  }

  .atk-footer {
    margin-top: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .atk-actions {
      margin: 0;
    }
  }

  .atk-actions {
    span {
      margin-bottom: 0;
    }
  }
}

.atk-main-editor {
  border: none;
  overflow: inherit;
  background: none !important;

  &>.atk-header {
    padding: 0;
    display: block;

    input {
      padding: 0 10px;
      height: 34px;
      width: 100%;
      border: 1px solid #e1e1e1;
      background: none;
      transition: all 0.1s linear;
      margin-bottom: 10px;
      font-size: 16px;

      &:focus {
        border-color: #333;
      }
    }
  }

  .atk-textarea-wrap {
    .atk-textarea {
      padding: 10px;
      border: 1px solid #e1e1e1;
      background: none;
      transition: all 0.1s linear;
      overflow: inherit;
      font-size: 16px;

      &:focus {
        border-color: #333;
      }
    }
  }
}

.atk-sidebar-layer {
  width: 600px !important;
}

@media (max-width: 600px) {
  .atk-sidebar-layer {
    width: 100% !important;
  }
}

.artalk>.atk-list>.atk-list-footer .atk-copyright {
  display: none;
}

.atk-main-editor>.atk-bottom .atk-send-btn {
  background: #333;
  width: 120px;
  height: 36px;
  font-size: 16px;
}