* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #eeeeee;
  overflow-y: scroll;
}

body {
  max-width: 768px;
  margin: 4em auto;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  background: #fff;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

header {
  padding: 20px 2.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}
header .logo {
  font-size: 20px;
  font-weight: 600;
  margin-right: 30px;
  font-weight: 500;
}
header nav a {
  margin-right: 10px;
  color: #999;
}

main {
  padding: 20px 2.5rem;
}

.blog-posts {
  list-style: none;
}
.blog-posts li {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 0;
}
.blog-posts li span {
  width: 120px;
  color: #999;
}
.blog-posts li a {
  flex: 1;
  transition: all 0.1s linear;
}
.blog-posts li a:hover {
  color: #333;
}

.header-title {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.post-meta {
  color: #999;
  padding-bottom: 15px;
}

.post-content {
  border-top: 1px solid #e5e7eb;
  padding-top: 20px;
  line-height: 2;
}
.post-content h2,
.post-content h3 {
  font-weight: 500;
}
.post-content ul,
.post-content ol {
  padding-left: 30px;
}

#TableOfContents ul {
  padding: 0;
  list-style: none;
  padding-bottom: 20px;
  line-height: 1.5;
}

.aboutme {
  background: #f9fafb;
}
.aboutme .container {
  padding: 30px 2.5rem;
  display: flex;
  align-items: center;
}
.aboutme .container .img {
  width: 100px;
}
.aboutme .container .img img {
  border-radius: 50%;
  border: 1px solid #eee;
}
.aboutme .container .info {
  flex: 1;
  padding-left: 30px;
}
.aboutme .container .info .rss {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c9c9c9;
  padding: 2px 18px;
  color: #666;
  font-size: 14px;
  transition: all 0.1s linear;
}
.aboutme .container .info .rss:hover {
  border-color: #999;
  color: #000;
}

.readmore {
  margin-top: 30px;
}
.readmore a {
  text-decoration: underline;
  color: #555;
}

footer {
  padding: 20px 2.5rem 40px;
  color: #666;
  font-size: 15px;
}
footer div {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.nolist ul,
.nolist li,
.nolist li {
  padding: 0;
  list-style: none;
}

.post-tag {
  margin-top: 20px;
}
.post-tag a {
  background: #eee;
  padding: 4px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  body {
    margin: 20px 10px;
  }

  header {
    display: block;
    padding: 20px 20px;
  }
  header nav {
    margin-top: 15px;
  }

  .aboutme .container {
    padding: 20px 20px;
  }
  .aboutme .container .img {
    width: 80px;
  }

  main {
    padding: 20px 20px;
  }

  footer {
    padding: 20px 20px 40px;
  }
}