* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #eeeeee;
  overflow-y: scroll;
}

body {
  max-width: 768px;
  margin: 4em auto;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  background: #fff;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

header {
  padding: 20px 2.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;

  .logo {
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
    font-weight: 500;
  }

  nav {
    a {
      margin-right: 10px;
      color: #999;
    }
  }
}

main {
  padding: 20px 2.5rem;
}

.blog-posts {
  list-style: none;

  li {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    padding: 6px 0;

    span {
      width: 120px;
      color: #999;
    }

    a {
      flex: 1;
      transition: all 0.1s linear;

      &:hover {
        color: #333;
      }
    }
  }
}

.header-title {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.post-meta {
  color: #999;
  padding-bottom: 15px;
}

.post-content {
  border-top: 1px solid #e5e7eb;
  padding-top: 20px;
  line-height: 2;

  h2,
  h3 {
    font-weight: 500;
  }

  ul,
  ol {
    padding-left: 30px;
  }
}

#TableOfContents {
  ul {
    padding: 0;
    list-style: none;
    padding-bottom: 20px;
    line-height: 1.5;
  }
}

.aboutme {
  background: #f9fafb;

  .container {
    padding: 30px 2.5rem;
    display: flex;
    align-items: center;

    .img {
      width: 100px;

      img {
        border-radius: 50%;
        border: 1px solid #eee;
      }
    }

    .info {
      flex: 1;
      padding-left: 30px;

      .rss {
        margin-top: 15px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #c9c9c9;
        padding: 2px 18px;
        color: #666;
        font-size: 14px;
        transition: all 0.1s linear;

        &:hover {
          border-color: #999;
          color: #000;
        }
      }
    }
  }
}

.readmore {
  margin-top: 30px;

  a {
    text-decoration: underline;
    color: #555;
  }
}

footer {
  padding: 20px 2.5rem 40px;
  color: #666;
  font-size: 15px;

  div {
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
  }
}

.nolist {
  ul,
  li,
  li {
    padding: 0;
    list-style: none;
  }
}

.post-tag {
  margin-top: 20px;

  a {
    background: #eee;
    padding: 4px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  body {
    margin: 20px 10px;
  }

  header {
    display: block;
    padding: 20px 20px;

    nav {
      margin-top: 15px;
    }
  }

  .aboutme .container {
    padding: 20px 20px;

    .img {
      width: 80px;
    }
  }

  main {
    padding: 20px 20px;
  }

  footer {
    padding: 20px 20px 40px;
  }
}
