.tk-comments .tk-content {
  background: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
}
.tk-comments .tk-content p {
  margin: 5px 0;
}

.tk-avatar .tk-avatar-img {
  vertical-align: baseline;
}

.tk-input .el-textarea__inner {
  font-family: inherit;
}