{{ partial "header.html" . }}
<main>
  <div class="header">
    <h1 class="header-title">{{ .Title }}</h1>

    {{ if in .Site.Params.mainSections .Type }}
    {{ if .Date }}
    <div class="post-meta">
      发布于 <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006-01-02"}}</time>
    </div>
    {{ end }}
    {{ end }}
  </div>

  <article class="post-content markdown-body">
    {{ if in .Site.Params.mainSections .Type }}
    {{ .TableOfContents }}
    {{ end }}
    
    {{ .Site.Params.postHeaderContent | safeHTML }}
    {{ .Content }}
  </article>

  <!-- Post Tags -->
  {{ if .Params.tags }}
  <div class="post-tag">
    {{ range .Params.tags }} {{ $href := print (absURL "/tags/") (urlize .) }}
    <a href="{{ $href }}">#{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}

  {{ if in .Site.Params.mainSections .Type }}
  {{ partial "comment.html" . }}
  {{ end }}

</main>

{{ partial "footer.html" . }}