<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body class="style-{{ .Site.Params.styleModule }}">
  <header>
    <a href="/" class="logo">{{ .Site.Title }}</a>
    <div class="header-title"></div>
    <div class="nav">
      <a href="/">首页</a>
      {{ range .Site.Params.socials }}
      <a href="{{ .link }}">{{ .name }}</a>
      {{ end }}
      <a href="/index.xml" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-rss" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M4 4a16 16 0 0 1 16 16"></path>
          <path d="M4 11a9 9 0 0 1 9 9"></path>
        </svg></a>
      <a href="/search"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24"
          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
          <path d="M21 21l-6 -6"></path>
        </svg></a>
    </div>
    <div class="mob-menu">
      <em></em><em></em><em></em>
    </div>
  </header>
  <main class="main" id="pjax-container">