{{ partial "header.html" . }}

{{ $articleCount := len .Site.RegularPages }}
{{ $totalWordCount := 0 }}
{{ range .Site.Pages }}
{{ $totalWordCount = add $totalWordCount .WordCount }}
{{ end }}

<body>
  <div class="aboutme">
    <div class="container">
      <div class="img"><img src="https://imgurl.zishu.me/author.png" alt="author"></div>
      <div class="info">
        <p>欢迎来到我的个人网站，记录了一些个人心得和笔记。 --- 子舒</p>
        <p>已经写了 {{ $articleCount }} 篇文章，共 {{ $totalWordCount }} 字。</p>
        <a href="/index.xml" class="rss" target="_blank">订阅 RSS</a>
      </div>
    </div>
  </div>
  <main>
    <ul class="blog-posts">
      {{ $pages := .Site.RegularPages }}
      {{ $paginator := .Paginate ($pages) }}
      {{ range $paginator.Pages }}
      {{ $title := .Title }}
      {{ $summary := .Summary }}
      <li>
        <span>
          <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006.01.02"}}</time>
        </span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <!-- <div class="entry-content">
      <p>{{ .Summary }}</p>
    </div> -->
      </li>
      {{ end }}
    </ul>

    <div class="readmore"><a href="/blog/">查看全部文章</a></div>
    <!-- {{ partial "pagination.html" . }} -->

  </main>
  {{ partial "footer.html" . }}